<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vt="http://typo3.org/ns/BPN/BpnVariableText/ViewHelpers"
      xmlns:chat="http://typo3.org/ns/BPN/BpnChat/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">
<f:layout name="Default"/>

<f:section name="main">
    <f:variable name="current_user_id"><f:cObject typoscriptObjectPath="lib.userid"/></f:variable>
    <span class="chat-args"
          data-url-get="{urlget}"
          data-url-getnew="{urlgetnew}"
          data-auto-update-interval="{autoUpdateInterval}"
          data-you="{current_user_id}"
          data-your-name="{current_users_name}"
          data-other="{receiver}"
          data-admin="{isAdmin}"
          data-pause-btn-enabled="{pause_btn_enabled}"
          data-other-party="{receiver}"
          data-other-party-name="{otherPartyName}"
          data-debug="{debug}"
    ></span>
    <f:form class="{f:if(condition: '{show_date}', then: '', else:'state-no-date')}"
            action="addMessage"
            name="message"
            objectName="{message}"
            object="message">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-9"><i class="fa fa-comments"></i>&nbsp;Chat : {otherPartyName}</div>
                    <div class="col-md-3 text-right">
                        <span data-action="pause"
                              style="display: none">Pause:<i class="fa fa-toggle-on"
                                                             data-on="fa fa-toggle-on"
                                                             data-off="fa fa-toggle-off"></i></span>
                        <span data-action="show_date" data-show-date="{show_date}"
                              style="display: none">Date:<i class="fa fa-toggle-on"
                                                             data-on="fa fa-toggle-on"
                                                             data-off="fa fa-toggle-off"></i></span>
                    </div>
                </div>
            </div>

            <ul class="list-group list-group-flush chat-messages">
                <f:variable name="last_day">0</f:variable>
                <f:for each="{messages}"
                       as="message">
                    <f:variable name="current_day">{f:format.date(date: message.crdate, format: 'd-m-Y')}</f:variable>
                    <f:if condition="{current_day} != {last_day}">
                        <li class="list-group-item" data-caption="1">
                            <strong>{f:format.date(date: message.crdate, format: 'd-m-Y')}</strong>
                        </li>
                    </f:if>
                    <f:variable name="sendByMe">{f:if(condition:'{message.sender.uid} == {current_user_id}', then:1, else:'')}</f:variable>
                    <li class="list-group-item" data-uid="{message.uid}">
                        <f:render section="message"
                                  arguments="{sendByMe: sendByMe, message:message, otherPartyName:otherPartyName}"/>
                    </li>
                    <f:variable name="last_day">{f:format.date(date: message.crdate, format: 'd-m-Y')}</f:variable>
                </f:for>
            </ul>
        </div>
        <div class="form-row">
            <div class="col">
                <f:form.textarea id="message"
                                 name="message"
                                 value=""
                                 class="form-control"
                                 property="message"
                                 placeholder="{f:translate(key:'your_message_here')}"/>
            </div>
            <div class="md-col-2">
                <f:form.submit class="btn btn-primary"
                               name="send"
                               value="{f:translate(key:'send_message')}" />
            </div>
        </div>
        <f:form.hidden name="receiver" value="{receiver}"/>
        <template class="iamsender">
            <f:render section="message" arguments="{sendByMe: 1}"/>
        </template>
        <template class="iamreceiver">
            <f:render section="message" arguments="{sendByMe: 0}"/>
        </template>
    </f:form>
</f:section>

<f:section name="message">
    <f:if condition="{sendByMe} == 1">
        <f:then>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-9 text-right" data-field="message">
                    <f:format.html>{message.message}</f:format.html>
                </div>
            </div>
            <div class="row message-row-info">
                <div class="col-12 text-right">
                    <small><span data-field="date">{f:format.date(date: message.crdate, format: 'd-m-Y H:i')}</span> |
                        <f:variable name="yourName"><f:translate key="you"/></f:variable>
                        <span data-field="name"><chat:friendlyUserName
                            user="{message.sender}"
                            fallback="{'admin' : settings.receivers}"
                            fallbackifself="{yourName}" /></span></small>
                </div>
            </div>
        </f:then>
        <f:else>
            <div class="row">
                <div class="col-9 text-left" data-field="message">
                    <f:format.html>{message.message}</f:format.html>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row message-row-info">
                <div class="col-12 text-left"><small><span data-field="date">{f:format.date(date: message.crdate, format: 'd-m-Y H:i')}</span> |
                    <span data-field="name">{otherPartyName}</span></small>
                </div>
            </div>
        </f:else>
    </f:if>
</f:section>

</html>
