<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:vt="http://typo3.org/ns/BPN/BpnVariableText/ViewHelpers"
      xmlns:chat="http://typo3.org/ns/BPN/BpnChat/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">
<f:layout name="Default"/>

<f:section name="main">
    <f:variable name="cols"><f:switch expression="{settings.tilesprerow}">
        <f:case value="2">col-md-6</f:case>
        <f:case value="3">col-md-4</f:case>
        <f:case value="4">col-md-3</f:case>
        <f:defaultCase>col-md-12</f:defaultCase>
    </f:switch></f:variable>
    <f:if condition="{chats}">
        <f:then>
            <div class="row">
                <f:for each="{chats}"
                       as="chat">
                    <div class="{cols}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><f:translate key="chat.conversation" /></h5>
                                <h6 class="card-subtitle mb-2 text-muted">{chat.user.name}</h6>
                                <p class="card-text"><small><f:translate key="chat.user.username" />:<br />{chat.user.username}</small></p>
                                <p class="card-text"><small><f:translate key="chat.last.message" />:<br /><f:format.date format="d-m-Y H:i">{chat.chat.crdate}</f:format.date></small></p>
                                <f:link.action class="card-link"
                                               action="chat"
                                               arguments="{otherUserId: chat.user.uid }">Open</f:link.action>
                            </div>
                        </div>
                    </div>
                </f:for>
            </div>
        </f:then>
        <f:else>
            <f:if condition="{isadmin}">
                <f:then>
                    <f:translate key="admin.no.chats" />
                </f:then>
                <f:else>
                    <f:link.action action="chat" class="btn btn-primary"><f:translate key="user.open.chat" /></f:link.action>
                </f:else>
            </f:if>
        </f:else>
    </f:if>
</f:section>

</html>
